.tdu {
    text-align: center;
    margin: 2rem 0 0 0;
}

.shuffleValue {
    width: 100%;
}

.inputValue {
    margin: 0;
    width: 80%;
    font-size: 3rem;
    color: #4f4f4f;
    text-align: center;
    background-color: white;
    border: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.shuffleValue, .display {
    margin: 1rem 0 1rem 0;
    text-align: center;
}

.reload {
    text-align: center;
}

.reload button {
    border: none;
    outline: none;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.reload img {
    width: 2rem;
}


.display {
    font-size: 3rem;
    color: #2d56a0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    vertical-align: middle;
}
